*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    
}

body{
    background-color: black;
    font-family: "Poppins", sans-serif;
}
.main{
    padding-top: 100px;
   
    width: 100%;
    max-width: 1244px;
    margin: 0 auto;
    height: 100%;
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 60px;
}
.images{
    padding-top:33px;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-color: black;
   
   
    
}
.texts {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.stats {
  display: flex;
  gap: 40px;
  max-height: 79px;
  height: 100%;
}

.stat h2 {
  color: #ff2a2a;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.stat p {
  color: #ccc;
  font-size: 14px;
  margin: 0;
}
.heading-text h1 {
    
  width: 100%;
  max-width: 403px;

 
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 60px;
  
}
.heading{
    max-width: 470px;
    width: 100%;
}
.heading-para{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
        line-height: 170%;
        opacity: 80%;
}
.para{
    max-width: 470px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
        line-height: 170%;
        opacity: 80%;
        max-height: 62px;
        overflow: hidden;
}
.btn-container {
  margin-top: auto;
  align-self: flex-start;
  max-width: 310px;
  width: 100%;
  max-height: 52px;
  height: 100%;
  display: flex;
gap: 60px;
}
.btnx{
max-width:150px;
width: 100%;
display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  border: 1px solid #444;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.btn-secondary {
align-self: center;
max-width: 100px;
max-height: 30px;
background-color: black;
width: 100%;
height: 100%;
}
.arrow-box {
  width: 36px;
  height: 36px;
  background: white;
  color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.images img {
  object-fit: contain;
  display: block;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
   
  }

  .texts {
    display: contents; 
  }

  .heading {
    order: 1;
    width: 100%;
    max-width: 696px;
    
    text-align: center;
  }
  .heading-text h1{
    width: 100%;
    max-width: 696px;
    font-size: 36px;
  }

  .images {
    order: 2; 
    width: 100%;
    max-width: 420px;
    margin: 20px auto;
  }
  img{
    justify-self: center;
  }

  .stats {
    order: 3;
    width: 100%;
    max-width: 420px;
    justify-content: center;
    align-items: flex-start;
  }

  .para {
    order: 4;
    width: 100%;
    font-size: 16px;
    line-height: 160%;
    max-width: 696px;
    padding-left: 36px;
  }

  .btn-container {
    order: 5;
    width: 100%;
    max-width: 420px;
    justify-content: center;
  }
}

