* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}
.main {
  margin-top: 100px;
  margin-left: 208px;
  padding:20px;
  width: 100%;
  max-width: 1244px;
  /* margin: 0; */
  height: 100%;

  display: flex;
  justify-content: center;
  /* align-items: center;  */
  gap: 60px;
}
.images {
  padding-top: 33px;
  width: 100%;
  height: 100%;
  max-width: 600px;
  background-color: black;
}
.texts {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
}
.stats {
  display: flex;
  gap: 40px;
  max-height: 79px;
  height: 100%;
}
.stats {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.stat h2 {
  color: #ff2a2a;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.stat p {
  color: #ccc;
  font-size: 14px;
  margin: 0;
}
.heading-text h1 {
  width: 100%;
  max-width: 403px;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 60px;
}
.heading {
  max-width: 470px;
  width: 100%;
}
.heading-para {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  opacity: 80%;
}
.para {
  max-width: 470px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  opacity: 80%;
  max-height: 62px;
  overflow: hidden;
  gap: 24px;
}
.btn-container {
  margin-top: auto;
  align-self: flex-start;
  max-width: 310px;
  width: 100%;
  max-height: 52px;
  height: 100%;
  display: flex;
  gap: 60px;
}
.btnx {
  max-width: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  border: 1px solid #444;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.btn-secondary {
  align-self: center;
  max-width: 100px;
  max-height: 30px;
  background-color: black;
  width: 100%;
  height: 100%;
}
.arrow-box {
  width: 36px;
  height: 36px;
  background: white;
  color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.images img {
  object-fit: contain;
  max-width: 600px;
  display: block;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
    padding-left: 5px;
    max-width: 768px;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  .texts {
    display: contents;
  }

  .images img {
    border-radius: 12px;
  }
  .heading {
    order: 1;
    width: 100%;
    max-width: 696px;

    text-align: center;
  }
  .heading-text h1 {
    width: 100%;
    max-width: 696px;
    font-size: 36px;
  }

  .images {
    order: 2;
    width: 100%;
    max-width: 420px;
    margin: 20px auto;
  }
  img {
    justify-self: center;
  }

  .stats {
    order: 3;
    width: 100%;
    max-width: 420px;
    justify-content: center;
    align-items: flex-start;
  }

  .para {
    order: 4;
    width: 100%;
    font-size: 16px;
    line-height: 160%;
    max-width: 696px;
    padding-left: 36px;
  }

  .btn-container {
    order: 5;
    width: 100%;
    max-width: 420px;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .main {
    max-width: 375px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px !important;
    
  }
  .heading-text h1 {
    font-size: 26px;
    line-height: 120%;
  }
  .images img {
    border-radius: 12px;
  }
  .heading-text {
    max-width: 100%;
    width: 221px;
  }
  .heading-para p {
    font-size: 14px;
    line-height: 160%;
    max-width: 336px;
    width: 100%;
    margin: 3px auto;
  }
  .heading-para {
    max-width: 100%;
    width: 343px;
  }
  .stats {
    max-width: 359px;
    width: 100%;
  }
  .para {
    max-width: 336px;
    width: 100%;
    font-size: 14px;
    line-height: 160%;
  }

  .btn-container {
    gap: 20px;
  }
  .stat {
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
  }
}
